/* RESET de alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4243b3; /* Verde */
    font-size: 18px;
    font-family: 'fantasy', sans-serif; /* Fonte fancy */
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000; /* Preto quando passar o mouse */
}

/* Estilos para o corpo */
main {
    padding: 40px;
    display: grid;
    gap: 40px;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #4243b3
    ; /* Bordas verdes mais escuras */
    transition: all 0.3s;
}

section:hover {
    border-color: #4243b3; /* Escurece a borda quando passar o mouse */
}

section h2 {
    font-size: 24px;
    font-family: 'fantasy', sans-serif;
    margin-bottom: 20px;
    color: #4243b3;
}

section ul {
    list-style: none;
}

section ul li {
    margin-bottom: 15px;
}

section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

section ul li a:hover {
    color: #4243b3;
}

/* Adicionando espaçamento entre parágrafos */
section p {
    margin-top: 20px;
    line-height: 1.6;
}

/* Estilos para o rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    margin-top: 40px;
}

footer p {
    font-family: 'fantasy', sans-serif;
}
